.profile-container {
  background-color: #ffffff;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .profile-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    color: var(--color-white-green);
  }

  & button {
    background-color: var(--color-dark-green);
    font-variant: unset;
    margin: 0;
    margin-top: 5px;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    justify-content: center;

    &:hover {
      background-color: var(--color-black-green);
    }
  }
}

.profile-title-container {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/userback.jpeg');
  background-position: center;
  background-size: cover;
}

.profile-fields-container {
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
}

.profile-field {
  margin-bottom: 0.75rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  & .label {
   font-weight: 600;
   color: #4a5568;
   margin-right: 0.5rem;
  }
}

