.clubs-container {
  padding: 0 20px;
}

.infoPanel.clubs-card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0px 1px 1px 2px #0000001c;
  overflow: hidden;
  background-color: var(--color-neutral-0);
  transition: transform 0.2s ease;
}

.clubs-title {
  font-size: 30px;
  text-transform: capitalize;
  margin: 0;
  color: var(--color-palette-green-1);
  text-shadow: 0px 1px 10px var(--color-palette-green-0);
}

.clubs-search {
  background-image: url('/userback.jpeg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 20px;
  & input {
    width: calc(50% - 10px);
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: var(--color-palette-green-0);
    background-color: var(--color-palette-green-2);
    transition: background-color 0.3s ease-in-out;

    &:focus {
      background-color: var(--color-palette-green-3);
    }
  }
}

.clubs-table {
  width: 100%;
  font-size: 18px;
  padding: 20px;
  padding-top: 0;
  
  & tr {
    cursor: pointer;
  }

  & th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  & th {
    color: var(--color-palette-green-3, #1e5631);
  }
  & tbody > tr:hover {
    background-color: var(--color-palette-green-0) !important;
  }
}

@media screen and (max-width: 800px) {
  .clubs-container {
    grid-template-columns: auto;
  }
}
