.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.contact-form {
  width: 500px;
  height: 400px;
  background-color: var(--color-palette-green-1);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 5fr 1fr;
  gap: 15px;
  padding: 20px;
  box-shadow: 2px 2px 8px 2px var(--color-palette-green-4);
  border-radius: 8px;
  
  & h2 {
    text-align: center;
    margin: 0;
  }
  
  & input, textarea {
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 1em;
    border-radius: 4px;
    resize: none;
    background: var(--color-palette-green-0);
  }
  
  & button {
    padding: 10px;
    border: none;
    background-color: var(--color-palette-green-4);
    color: var(--color-palette-green-1);
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease;
    
    &:hover {
      background-color: var(--color-palette-green-3);
    }
  }
  
}

