.clubview-container {
  padding: 0 20px;
}

.clubview-card {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 2px #0000001c;
  overflow: hidden;
  background-color: var(--color-neutral-0);
  transition: transform 0.2s ease;
  padding: 20px;
}

.clubview-title {
  font-size: 30px;
  text-transform: capitalize;
  margin: 0;
  color: var(--color-palette-green-4);
  text-shadow: 0px 1px 10px var(--color-palette-green-0);
}

.clubview-details {
  font-size: 18px;
  margin-top: 10px;
  color: var(--color-palette-green-3);
}

.clubview-details p {
  margin: 8px 0;
}

@media screen and (max-width: 800px) {
  .clubview-container {
    grid-template-columns: auto;
  }
}
