.HomePanel {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.HP-Header {
  width: 100%;
  height: 120px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--color-palette-green-3);
}

.HP-Header-Content {
  width: 1300px;
  height: inherit;
}

.HP-Head {
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  & .Logo {
    height: 40px;
    width: fit-content;

    color: var(--color-palette-green-0);
  }

}

.HP-Utilities {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & button {
    margin-left: 20px;
    padding: 5px;
    display: flex;
    
    font-size: 18px;
    font-variant: small-caps;
    font-weight: bold;
    
    color: var(--color-palette-green-0);
    background-color: transparent;
    
    & svg {
      height: 30px;
      width: 30px;
    }
  }
  
  & .HP-Settings {
    position: absolute;
    right: 0;
    top: 55px;
    height: 300px;
    width: 400px;
    border: 2px solid var(--color-palette-green-4);
    border-radius: 5px;
    background-color: var(--color-palette-green-0);
    z-index: 5;
    &.hide {
      display: none;
    }
  }

  & .HP-Profile {
    position: absolute;
    right: 0;
    top: 60px;
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--color-palette-green-0);
    z-index: 5;
    box-shadow: 0px 3px 5px 2px #00000052;
    &.hide {
      display: none;
    }
  }
  
  & .LoggedButton {
    color: var(--color-palette-green-0) !important;
    background-color: transparent;
    border: 2px solid var(--color-palette-green-0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    padding-right: 10px !important;

    transition: background-color 0.2s ease-in-out;

    & p {
      margin: 10px;
    }

    &:hover {
      background-color: var(--color-palette-green-4) !important;
    }

  }
}


.HP-Buttons {
  height: 50px;
  display: flex;
  align-items: end;

  & .HP-Buttons-Commons {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  & .HP-Buttons-Admin {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
  }

  & button {
    padding: 10px 20px;
    margin-right: 5px;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
    color: var(--color-palette-green-4);
    background-color: var(--color-palette-green-1);

    transition: background-color 0.2s ease-in-out;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }

  & .selected {
    background-color: var(--color-palette-green-0) !important;
  }
}


.HP-Body {
  flex-grow: 1;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 2;
  background-color: var(--color-palette-green-0);

  &::before {
    content: "";
    position: absolute;
    background-image: url("../../../login/background-img.jpg");
    background-position: center;
    background-size: cover;
    z-index: 1;
    opacity: 0.5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  & > * {
    z-index: 3;
  }
}

.HP-Body-Content {
  width: 1300px;

  padding: 20px 0;

  background-color: var(--color-palette-green-0);

}

.HP-Footer {
  min-height: 50px;
  width: 100%;
  background-color: var(--color-palette-green-3);

  display: flex;
  justify-content: center;
  align-items: center;
}

.HP-Footer-Content {
  width: 1300px;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  color: var(--color-palette-green-0);

  & a {
    height: 25px;
    width: 25px;

    &:hover {
      cursor: pointer;
    }
  }

  & .Logo {
    height: 40px;
    width: fit-content;
  }

  & p {
    padding-bottom: 4px;
  }
}

.HP-Networks {
  display: flex;
  justify-content: center;
  align-items: center;
  font-variant: small-caps;

  & > * {
    font-size: 14px;
    margin-right: 20px;
  }

  & p {
    margin: 0;
    height: fit-content;
  }
}

.HP-Footer-Logo {
  font-size: 20px;
  height: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;

  & .Logo {
    height: 30px;
  }

  & p {
    margin: 0;
  }
}

@media screen and (max-width: 1300px) {
  .HP-Header-Content, .HP-Footer-Content, .HP-Body-Content {
    width: 800px;
  }

  
}

@media screen and (max-width: 800px) {
  .HP-Header-Content, .HP-Footer-Content, .HP-Body-Content {
    width: 100dvw;
  }

  .HP-Head, .HP-Footer-Content {
    padding: 0 20px;
  }
}