.NexMatches-Panel {
  height: fit-content;
  display: nmex;
}

.NexMatches {
  width: 100%;
}

.NM-Head {
  display: flex;
  justify-content: center;
  padding: 10px 0;


  & h2 {
    margin: 0;
    color: var(--color-palette-green-4);
  }
}

.NM-MatchesTable {  
  width: 100%;
  border-collapse: collapse;
  
  & tr {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    &:nth-child(even) {
      background-color: var(--color-neutral-0);
    }
    &:nth-child(odd) {
      background-color: var(--color-neutral-1);
    }
    &:hover {
      background-color: var(--color-neutral-2);
    }
    
    & td {
      padding: 0 20px;
      font-size: 20px;
      display: flex;
      align-items: center;
  
      & p {
        margin: 0;
        font-size: 14px;
        text-align: center;
      }
      
      &:nth-child(1) {
        width: fit-content;
        display: flex;
        & p {
          font-size: 26px;
        }
      }
      
      &:nth-child(2) {
        width: fit-content;
        & p {
          text-align: center;
        }
      } 

      .time {
        display: flex;
        justify-content: end;
        gap: 16px;
        font-size: 14px;
      }
    }
  }

}