.NexMatches-Panel {
  height: fit-content;
  display: nmex;
}

.NexMatches {
  width: 100%;
}

.NM-Head {
  display: flex;
  justify-content: center;
  padding: 10px 0;


  & h2 {
    margin: 0;
    color: var(--color-palette-green-4);
  }
}

.NM-MatchesTable {  
  width: 100%;
  border-collapse: collapse;
  
  & tr {
    width: 100%;
    height: 50px;
    
    &:nth-child(even) {
      background-color: var(--color-neutral-0);
    }
    &:nth-child(odd) {
      background-color: var(--color-neutral-1);
    }
    &:hover {
      background-color: var(--color-neutral-2);
    }
    
    & td {
      padding: 0 20px;
      font-size: 20px;
  
      & p {
        margin: 0;
        font-size: 14px;
        text-align: center;
      }
      
      &:nth-child(1) {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 100%;
        & p {
          font-size: 26px;
        }
      }
      
      &:nth-child(2) {
        & p {
          text-align: center;
        }
      } 
    }
  }

}