
.OM-Panel {
  height: 200px;
  display: flex;
  flex-direction: column;

  & h2 {
    margin: 0;
    margin-bottom: 20px;
  }
}

.OM-Head {
  display: flex;
  justify-content: center;
  padding: 10px 0;


  & h2 {
    margin: 0;
    color: var(--color-palette-green-4);
  }
}

.OM-Match {
  margin: 10px;
  margin-top: 0;
  padding: 10px;
  flex-grow: 1;
  background-color: var(--color-palette-green-3);
  border-radius: 3px;
  box-shadow: 0px 1px 1px 1px #0000001c;

  display: flex;

  & h2 {
    margin: 0;
    margin-bottom: 10px;
    color: var(--color-neutral-0);
    text-align: center;
  }

  & p {
    margin: 0;
  }

  & div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}