server:
  port: 5000

spring:
  application:
    name: "Dot&Dot Server"
    version: "1.0.0"
  main:
    banner-mode: off
  mail:
    host: smtp.gmail.com
    port: 587
    username: dotanddot.app.contact@gmail.com
    password: "nlyopscsntwvidss"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  datasource:
    #        SERVER
#    url: jdbc:mysql://mysql:3306/dotdot_db
    #        DEVELOPMENT
    url: jdbc:mysql://dot-dot.duckdns.org:3306/dotdot_db
    driverClassName: com.mysql.cj.jdbc.Driver
    username: root
    password: dotdotdb
  jpa:
    #        database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update

jwt:
  jwtSecret: 123456789012345678901234567890%$
  jwtExpirationMs: 86400000

images:
  folder:
    path: "D:\\DAW2-Repositorios\\TFC-Hugo-Moruno\\aplicaciones\\dot&dot-server\\images"
#    path: "/home/ubuntu/back/images"