server:
  port: 5000
spring:
  application:
    name: server
    version: 0.0.1
  mail:
    host: smtp.gmail.com
    port: 587
    username: dotanddot.app.contact@gmail.com
    password: dotanddot_2025
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  datasource:
    #        DEVELOPMENT
#    url: jdbc:mysql://192.168.1.102:3307/dotdot_db
    #        PRODUCCION
    url: jdbc:mysql://dot-dot.duckdns.org:3306/dotdot_db

    driverClassName: com.mysql.cj.jdbc.Driver
    username: root
    password: pruebafct
  jpa:
    #        database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: create
      show-sql: true
      properties:
          hibernate:
              format_sql: true
#logging:
#  level:
#    org:
#      springframework: DEBUG
jwt:
  jwtSecret: 123456789012345678901234567890%$
  jwtExpirationMs: 86400000
