.RecMatches-Panel {
  height: fit-content;
  display: rmex;
}

.RecMatches {
  width: 100%;
}

.RM-Head {
  display: flex;
  justify-content: center;
  padding: 10px 0;


  & h2 {
    margin: 0;
    color: var(--color-palette-green-4);
  }
}

.RM-MatchesTable {  
  width: 100%;
  border-collapse: collapse;
  
  & tr {
    width: 100%;
    height: 50px;
    
    &:nth-child(even) {
      background-color: var(--color-neutral-0);
    }
    &:nth-child(odd) {
      background-color: var(--color-neutral-1);
    }
    &:hover {
      background-color: var(--color-neutral-2);
    }
  }

  & td {
    padding: 0 20px;
    font-size: 20px;

    & svg {
      height: 20px;
      width: 20px;
    }

    & p {
      margin: 0;
      font-size: 14px;
      text-align: center;

    }
    
    &:nth-child(1) p {
      font-size: 16px ;
    }
    
    &:nth-child(2) {
      width: 80%;
      
      & p {
        text-align: end;
      }
    } 
  }
}