.AdminPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.AP-Header {
  border-bottom: 1px solid var(--color-neutral-2) ;
  background-color: var(--color-palette-green-2);
  color: var(--color-palette-green-0);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    & .Logo {
      height: 50px;
      width: fit-content;
      margin-right: 20px;
    }
  }
}

.AP-Header-Title {
  margin: 0;
  font-size: 24px;
}

.AP-Header-HomeButton {
  background-color: var(--color-palette-green-0);
  color: var(--color-palette-green-3);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    background-color: var(--color-palette-green-1);
  }
}

.AP-Body {
  display: flex;
  flex: 1;
}

.AP-Aside {
  width: 200px;
  background-color: #f5f5f5;
  border-right: 1px solid #ddd;
}

.AP-Aside-Nav {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  padding: 10px;
}

.AP-Aside-Button {
  background: none;
  border: none;
  color: #2e8b57;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.AP-Aside-Button:hover {
  background-color: #e6f4ec;
}


.AP-Main {
  flex: 1;
  padding: 20px;
  
  & section {
    margin-bottom: 40px;
  }
}

.AP-Crud {
  background-color: var(--color-palette-green-0);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  & h2 {
    margin: 0;
    color: var(--color-palette-green-4);
  }

  & table {
    border: none !important;
    border-collapse: unset !important;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    & thead {
      border: 2px solid var(--color-palette-green-4);
      & th {
        border: none !important;
        background-color: var(--color-palette-green-2) !important;
        color: var(--color-palette-green-4);
      }
    }
    & tbody {
      overflow-y: auto;
      border: 2px solid var(--color-palette-green-4);
      & tr:nth-child(even) {
        background-color: var(--color-palette-green-1);
      }
      & td {
        border: none !important;
        color: var(--color-palette-green-4);
      }
    }
  }

  & div > div button {
    width: fit-content;
    padding: 0;
  }
}

.AP-Footer {
  border-top: 1px solid var(--color-neutral-1);
  background-color: #f0f0f0;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  color: #555;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  & .Logo {
    height: 20px;
    margin-right: 20px;
    width: fit-content;
  }
  & p {
    width: fit-content;
  }
  
}

@media screen and (max-width: 768px) {
  .AP-Body {
    flex-direction: column;
  }

  .AP-Aside {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ddd;
  }

  .AdminPage-ScreenResolutionError {
    display: block;
  }
}


.AdminPage {
  height: 100%;
}

.AdminPage-ScreenResolutionError {
  display: none;
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;

  & > * {
    padding: 0 20px;
  }
}

@media screen and (max-width: 1200px) {
  .AdminPage-ScreenResolutionError {
    display: block;
  }
}