:root {
  --color-white: #fafafa;
  --color-white-grey: #e0e0e0;
  --color-light-grey: #bdbdbd;
  --color-grey: #838383;
  --color-dark-grey: #4f4f4f;
  --color-light-black: #2c2c2c;
  --color-black: #212121;
  --color-dark-black: #121212;
  --color-light-beige: #fff4e6;
  --color-beige: #f8e5cd;
  --color-dark-beige: #bb976b;
  --color-light-brown: #795e3d;
  --color-white-green: #f9ffef;
  --color-light-green: #d7ebb7;
  --color-green: #b5db78;
  --color-dark-green: #8fc538;
  --color-black-green: #4c6820;
  --color-white-red: #ffeaea;
  --color-light-red: #ffbcbc;
  --color-red: #ff7b7b;
  --color-dark-red: #d33d3d;
  --color-black-red: #7a1a1a;
  --color-white-blue: #eaf6ff;
  --color-light-blue: #bcdffb;
  --color-blue: #7bb8f9;
  --color-dark-blue: #2f98dd;
  --color-black-blue: #13476a;

  --color-neutral-0: var(--color-white);
  --color-neutral-1: var(--color-white-grey);
  --color-neutral-2: var(--color-light-grey);
  --color-neutral-3: var(--color-grey);
  --color-neutral-4: var(--color-dark-grey);
  --color-neutral-5: var(--color-light-black);
  --color-neutral-6: var(--color-black);
  --color-neutral-7: var(--color-dark-black);
  
  --color-palette-green-0: var(--color-white-green);
  --color-palette-green-1: var(--color-light-green);
  --color-palette-green-2: var(--color-green);
  --color-palette-green-3: var(--color-dark-green);
  --color-palette-green-4: var(--color-black-green);

  --color-palette-red-0: var(--color-white-red);
  --color-palette-red-1: var(--color-light-red);
  --color-palette-red-2: var(--color-red);
  --color-palette-red-3: var(--color-dark-red);
  --color-palette-red-4: var(--color-black-red);

  --color-palette-blue-0: var(--color-white-blue);
  --color-palette-blue-1: var(--color-light-blue);
  --color-palette-blue-2: var(--color-blue);
  --color-palette-blue-3: var(--color-dark-blue);
  --color-palette-blue-4: var(--color-black-blue);

  --color-link: var(--color-blue);

}