@import url("./colors.css");

@font-face {
  font-family: 'Nexa';
  src: url('/font/Nexa-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url('/font/Nexa-Heavy.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


html, body {
  width: 100%;
  height: 100%;
  margin: 0;

  & * {
    font-family: 'Nexa', sans-serif;
  }
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/login/background-img.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
    pointer-events: none;
    width: auto;
    height: 100dvh;
  }
}


input:focus {
  outline: none;
  box-shadow: none;
}

button {
  border: none;
  border-radius: 3px;
  font-size: 15px;

  &:hover {
    cursor: pointer;
  }
}

a {
  all: unset;
}