@import url("./colors.css");

html, body {
  width: 100%;
  height: 100%;
  margin: 0;

  & * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

input:focus {
  outline: none;
  box-shadow: none;
}

button {
  border: none;
  border-radius: 5px;
  font-size: 15px;

  &:hover {
    cursor: pointer;
  }
}

a {
  all: unset;
}