@import url("./colors.css");

@font-face {
  font-family: 'Nexa';
  src: url('/font/Nexa-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url('/font/Nexa-Heavy.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


html, body {
  width: 100%;
  height: 100%;
  margin: 0;

  & * {
    font-family: 'Nexa', sans-serif;
  }
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100dvh;
  height: fit-content;
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/login/background-img.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
    pointer-events: none;
    width: auto;
    min-height: 100dvh;
    height: 100%;
  }
}


input:focus {
  outline: none;
  box-shadow: none;
}

button {
  border: none;
  border-radius: 3px;
  font-size: 15px;

  &:hover {
    cursor: pointer;
  }
}

a {
  all: unset;
}


* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-black-green) transparent;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-black-green);
  border-radius: 0;
  border: none;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark-green);
}

*::-webkit-scrollbar-corner {
  background: transparent;
}


*::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}