.HomeCompPanel {
  height: 100%;
  padding: 0 20px;

  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;

  & .infoPanel {
    border-radius: 15px;
    box-shadow: 0px 1px 1px 2px #0000001c;
    overflow: hidden;
    background-color: var(--color-neutral-0);

    transition: transform 0.2s ease;
    
    &:hover {
      transform: translateY(-2px);
    }
  }

  & .HCP-Col {
    &:nth-last-child(1) {
      margin-right: 0;
    }
  }

  & .HCP-Left {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    & .LogoBall {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;

      & svg {
        width: 300px;
        height: 300px;
        filter: drop-shadow(0px 0px 10px rgba(175, 216, 150, 0.336));
      }
    }

    & > * {
      position: relative;
      z-index: 2;
    }
  }

  & .HCP-Right {
    display: grid;
    position: relative;
    grid-template-rows: min-content min-content;
    gap: 20px;
  }
}

@media screen and (max-width: 1300px) {
  .HomeCompPanel {
    & .HCP-Left {
      grid-template-columns: auto;
      grid-template-rows: min-content min-content;
    }
  }
}

@media screen and (max-width: 800px) {
  .HomeCompPanel {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    gap: 10px;

    & .HCP-Left {
      flex-grow: 1;
      gap: 10px;

      & .LogoBall {
        & svg {
          width: 50%;
          height: 50%;
        }
      }
    }

    & .HCP-Right {
      display: grid;
      grid-template-columns: 2fr 1fr ;
      gap: 10px;

      & .Ads-Panel {
        position: relative;
      }
    }
  }
}