.RegisterForm-Data {
  width: 460px;
  position: relative;
  display: flex;
  flex-direction: row;

  & .lp-error {
    position: absolute;
    bottom: -85px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 10px 20px;
    text-align: center;
    background-color: var(--color-neutral-0);
    opacity: 0;
    border-radius: 3px;
    color: var(--color-red);
    border: 2px solid var(--color-red);

    animation: vanishErrorMessage 3s linear;
  }

}

.RegisterForm-Inputs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 10px;

  & > label {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    
  }

  & p {
    color: black;
    font-size: 18px;
    margin: 4px 0;
  }

  & input {
    background-color: var(--color-palette-green-2);
    border: none;
    border-radius: 3px;
    flex-grow: 1;
    padding: 0 10px;
    font-size: 15px;
    height: 40px;
    font-weight: bold;
    max-width: 70%;
    color: var(--color-palette-green-4);

    transition: background-color 0.2s ease-in-out;

    &:focus {
      background-color: var(--color-palette-green-2);
    }
  }

  & .passwordShower {
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    padding: 10px;
    margin-left: 10px;
    background-color: transparent;
  }

  & .dataPolicy {
    font-size: 11px;
    text-align: justify;
    & input {
      margin-right: 10px;
    }
    & .privacyPolicyUrl {
      cursor: pointer;
      color: blue;
    }
  }
}

.RegisterForm-Button-Panel {
  width: 100%;
  display: flex;
  justify-content: end;
}

.RegisterForm-Button {
  width: 100%;
  height: 40px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-palette-green-2);
  color: var(--color-palette-green-4);
  border: none;
  border-radius: 3px;

  transition: background-color 0.3s ease-in-out;

  & svg {
    height: 20px;
    width: 20px;
    margin-left: 20px;
  }

  & p {
    font-size: 18px;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--color-palette-green-3);
  } 
}

@keyframes vanishErrorMessage {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  70% {
    opacity: 0.75;
  }

  85% {
    opacity: 0.25;
  }

  100% {
    opacity: 0;
  }
}